In [1]:
import pandas as pd

In [30]:
t={None: [None, None, '721', None, '15', None, '706', None, '0', '0', None, None, None, None, None, None], 'USA': ['1', 'USA', '40,520,784', '+7,766', '662,945 ', '+92', '31,201,272', '+1,437', '8,656,567', '25,656', '121,584', '1,989', '588,598,687', '1,766,115', None, 'North America'], 'India': ['2', 'India', '32,908,089', '+5,744', '439,965 ', '+49', '32,063,616', '+7,531', '404,508', '8,944', '23,575', '315', '526,535,068', '377,211', None, 'Asia'], 'Brazil': ['3', 'Brazil', '20,830,712', None, '582,004 ', None, '19,801,725', None, '446,983', '8,318', '97,191', '2,716', '56,897,224', '265,470', None, 'South America'], 'Russia': ['4', 'Russia', '6,975,174', '+18,856', '185,611 ', '+799', '6,236,738', '+18,690', '552,825', '2,300', '47,773', '1,271', '180,000,000', '1,232,812', None, 'Europe'], 'UK': ['5', 'UK', '6,862,904', None, '132,920 ', None, '5,533,227', None, '1,196,757', '1,030', '100,477', '1,946', '271,963,982', '3,981,717', None, 'Europe'], 'France': ['6', 'France', '6,799,240', None, '114,680 ', None, '6,335,183', '+24,324', '349,377', '2,270', '103,896', '1,752', '127,464,573', '1,947,732', None, 'Europe'], 'Turkey': ['7', 'Turkey', '6,435,773', None, '57,283 ', None, '5,872,385', None, '506,105', '633', '75,361', '671', '77,045,381', '902,173', None, 'Asia'], 'Argentina': ['8', 'Argentina', '5,195,601', None, '112,195 ', None, '4,884,418', None, '198,988', '2,497', '113,737', '2,456', '22,307,283', '488,331', None, 'South America'], 'Iran': ['9', 'Iran', '5,083,133', '+27,621', '109,549 ', '+561', '4,302,011', '+32,503', '671,573', '7,795', '59,627', '1,285', '29,227,907', '342,853', None, 'Asia'], 'Colombia': ['10', 'Colombia', '4,913,031', None, '125,097 ', None, '4,742,640', None, '45,294', '542', '95,368', '2,428', '24,268,743', '471,084', None, 'South America'], 'Spain': ['11', 'Spain', '4,871,444', None, '84,640 ', None, '4,399,864', None, '386,940', '1,491', '104,144', '1,809', '60,618,810', '1,295,939', None, 'Europe'], 'Italy': ['12', 'Italy', '4,553,241', None, '129,352 ', None, '4,286,991', None, '136,898', '555', '75,438', '2,143', '84,632,503', '1,402,182', None, 'Europe'], 'Indonesia': ['13', 'Indonesia', '4,116,890', '+7,797', '134,930 ', '+574', '3,813,643', '+15,544', '168,317', None, '14,868', '487', '32,833,137', '118,572', None, 'Asia'], 'Germany': ['14', 'Germany', '3,987,108', '+3,125', '92,805 ', '+11', '3,757,600', '+6,900', '136,703', '1,217', '47,411', '1,104', '68,329,706', '812,506', None, 'Europe'], 'Mexico': ['15', 'Mexico', '3,387,885', '+18,138', '261,496 ', '+993', '2,727,659', '+12,616', '398,730', '4,798', '25,958', '2,004', '9,852,284', '75,487', None, 'North America'], 'Poland': ['16', 'Poland', '2,889,773', '+349', '75,372 ', '+5', '2,657,274', '+97', '157,127', '58', '76,453', '1,994', '19,819,235', '524,345', None, 'Europe'], 'South Africa': ['17', 'South Africa', '2,796,405', None, '82,914 ', None, '2,568,465', None, '145,026', '546', '46,466', '1,378', '16,593,467', '275,720', None, 'Africa'], 'Ukraine': ['18', 'Ukraine', '2,293,541', '+2,693', '53,922 ', '+45', '2,210,866', '+1,112', '28,753', '177', '52,815', '1,242', '12,055,523', '277,611', None, 'Europe'], 'Peru': ['19', 'Peru', '2,152,118', None, '198,364 ', None, 'N/A', 'N/A', 'N/A', '1,237', '64,226', '5,920', '16,840,906', '502,588', None, 'South America'], 'Philippines': ['20', 'Philippines', '2,040,568', '+20,310', '33,873 ', '+193', '1,847,701', '+7,710', '158,994', '3,050', '18,336', '304', '18,963,226', '170,402', None, 'Asia'], 'Netherlands': ['21', 'Netherlands', '1,949,195', '+2,540', '18,026 ', '+9', '1,856,839', '+2,758', '74,330', '214', '113,462', '1,049', '16,593,808', '965,922', None, 'Europe'], 'Iraq': ['22', 'Iraq', '1,908,079', '+5,672', '20,994 ', '+60', '1,756,586', '+7,828', '130,499', '940', '46,228', '509', '14,470,680', '350,591', None, 'Asia'], 'Malaysia': ['23', 'Malaysia', '1,805,382', '+19,378', '17,521 ', '+330', '1,528,672', '+22,399', '259,189', '975', '54,958', '533', '23,162,221', '705,080', None, 'Asia'], 'Czechia': ['24', 'Czechia', '1,680,046', '+306', '30,405 ', '+1', '1,647,382', '+7', '2,259', '10', '156,542', '2,833', '36,219,289', '3,374,814', None, 'Europe'], 'Chile': ['25', 'Chile', '1,639,698', None, '36,995 ', None, '1,596,763', None, '5,940', '635', '84,923', '1,916', '20,382,963', '1,055,671', None, 'South America'], 'Japan': ['26', 'Japan', '1,524,679', '+18,228', '16,184 ', '+61', '1,296,746', '+18,806', '211,749', '2,221', '12,098', '128', '22,160,932', '175,848', None, 'Asia'], 'Bangladesh': ['27', 'Bangladesh', '1,510,283', '+3,167', '26,432 ', '+70', '1,442,582', '+4,697', '41,269', '1,453', '9,065', '159', '9,021,102', '54,146', None, 'Asia'], 'Canada': ['28', 'Canada', '1,507,053', None, '26,991 ', None, '1,446,567', None, '33,495', '405', '39,525', '708', '40,693,199', '1,067,249', None, 'North America'], 'Thailand': ['29', 'Thailand', '1,249,140', '+14,653', '12,374 ', '+271', '1,076,966', '+18,262', '159,800', '5,174', '17,844', '177', '8,129,670', '116,130', None, 'Asia'], 'Belgium': ['30', 'Belgium', '1,189,710', '+2,204', '25,392 ', '+10', '1,103,638', None, '60,680', '192', '102,133', '2,180', '18,779,255', '1,612,142', None, 'Europe'], 'Pakistan': ['31', 'Pakistan', '1,171,578', '+3,787', '26,035 ', '+57', '1,055,467', '+6,595', '90,076', '5,606', '5,186', '115', '17,931,365', '79,378', None, 'Asia'], 'Sweden': ['32', 'Sweden', '1,130,525', None, '14,651 ', None, '1,089,055', '+852', '26,819', '50', '111,131', '1,440', '11,757,024', '1,155,717', None, 'Europe'], 'Romania': ['33', 'Romania', '1,103,198', '+1,520', '34,650 ', '+33', '1,057,522', '+600', '11,026', '345', '57,797', '1,815', '11,621,866', '608,879', None, 'Europe'], 'Israel': ['34', 'Israel', '1,101,406', '+2,679', '7,122 ', None, '1,002,348', '+3,013', '91,936', '667', '118,101', '764', '19,534,264', '2,094,603', '9,326,000 ', 'Asia'], 'Portugal': ['35', 'Portugal', '1,044,144', '+1,822', '17,772 ', '+6', '983,063', '+2,464', '43,309', '136', '102,751', '1,749', '17,102,741', '1,683,028', None, 'Europe'], 'Morocco': ['36', 'Morocco', '872,351', None, '12,819 ', None, '807,433', None, '52,099', '1,161', '23,311', '343', '9,060,570', '242,120', None, 'Africa'], 'Hungary': ['37', 'Hungary', '813,040', '+247', '30,061 ', '+1', '777,988', '+79', '4,991', '19', '84,414', '3,121', '6,606,051', '685,871', None, 'Europe'], 'Kazakhstan': ['38', 'Kazakhstan', '803,601', '+4,930', '9,591 ', '+96', '701,641', '+10,161', '92,369', '221', '42,208', '504', '11,575,012', '607,958', None, 'Asia'], 'Jordan': ['39', 'Jordan', '798,984', None, '10,442 ', None, '776,925', None, '11,617', '552', '77,409', '1,012', '9,316,366', '902,614', None, 'Asia'], 'Switzerland': ['40', 'Switzerland', '788,813', '+3,121', '11,010 ', None, '710,815', '+1,026', '66,988', '272', '90,371', '1,261', '9,865,479', '1,130,242', None, 'Europe'], 'Serbia': ['41', 'Serbia', '773,426', '+3,623', '7,339 ', '+17', '724,722', '+802', '41,365', '87', '88,939', '844', '5,074,749', '583,563', None, 'Europe'], 'Nepal': ['42', 'Nepal', '767,271', '+1,357', '10,809 ', '+23', '723,456', '+2,274', '33,006', None, '25,792', '363', '3,946,189', '132,652', None, 'Asia'], 'UAE': ['43', 'UAE', '721,308', '+978', '2,044 ', '+1', '709,659', '+1,504', '9,605', None, '71,915', '204', '75,586,106', '7,535,974', None, 'Asia'], 'Austria': ['44', 'Austria', '693,416', '+1,753', '10,785 ', '+7', '665,894', '+1,312', '16,737', '149', '76,481', '1,190', '77,537,962', '8,552,128', None, 'Europe'], 'Cuba': ['45', 'Cuba', '672,599', '+6,927', '5,538 ', '+74', '634,872', '+7,630', '32,189', '415', '59,425', '489', '8,100,659', '715,699', None, 'North America'], 'Tunisia': ['46', 'Tunisia', '668,051', None, '23,647 ', None, '622,353', None, '22,051', '504', '55,842', '1,977', '2,616,244', '218,692', None, 'Africa'], 'Lebanon': ['47', 'Lebanon', '604,409', None, '8,070 ', None, '556,294', None, '40,045', '54', '89,019', '1,189', '4,759,054', '700,929', None, 'Asia'], 'Greece': ['48', 'Greece', '593,668', None, '13,702 ', None, '543,570', None, '36,396', '362', '57,285', '1,322', '15,731,791', '1,518,013', None, 'Europe'], 'Georgia': ['49', 'Georgia', '559,943', '+3,034', '7,649 ', '+86', '506,486', '+3,952', '45,808', None, '140,682', '1,922', '8,167,255', '2,051,971', None, 'Asia'], 'Saudi Arabia': ['50', 'Saudi Arabia', '544,985', '+174', '8,565 ', '+5', '533,632', '+202', '2,788', '803', '15,375', '242', '27,620,409', '779,203', None, 'Asia'], 'Ecuador': ['51', 'Ecuador', '502,146', None, '32,296 ', None, '443,880', None, '25,970', '759', '27,965', '1,799', '1,772,699', '98,725', None, 'South America'], 'Vietnam': ['52', 'Vietnam', '501,649', '+14,922', '12,476 ', '+338', '270,668', '+11,344', '218,505', None, '5,100', '127', '16,083,797', '163,515', None, 'Asia'], 'Bolivia': ['53', 'Bolivia', '491,759', '+419', '18,486 ', '+13', '437,636', '+1,140', '35,637', '220', '41,467', '1,559', '2,303,209', '194,216', None, 'South America'], 'Belarus': ['54', 'Belarus', '487,017', '+1,950', '3,814 ', '+11', '479,229', '+1,547', '3,974', None, '51,560', '404', '7,859,365', '832,059', None, 'Europe'], 'Guatemala': ['55', 'Guatemala', '479,376', None, '12,098 ', None, '416,180', None, '51,098', '5', '26,192', '661', '2,226,033', '121,626', None, 'North America'], 'Costa Rica': ['56', 'Costa Rica', '469,565', None, '5,540 ', None, '375,472', None, '88,553', '450', '91,204', '1,076', '2,006,420', '389,709', None, 'North America'], 'Bulgaria': ['57', 'Bulgaria', '459,051', None, '19,001 ', None, '407,029', None, '33,021', '333', '66,653', '2,759', '4,276,501', '620,939', None, 'Europe'], 'Paraguay': ['58', 'Paraguay', '458,716', None, '15,821 ', None, '437,843', None, '5,052', '90', '63,403', '2,187', '1,781,035', '246,172', None, 'South America'], 'Panama': ['59', 'Panama', '458,638', None, '7,069 ', None, '444,476', None, '7,093', '108', '104,376', '1,609', '3,686,021', '838,860', None, 'North America'], 'Sri Lanka': ['60', 'Sri Lanka', '447,757', None, '9,604 ', None, '378,168', None, '59,985', None, '20,808', '446', '4,855,036', '225,624', None, 'Asia'], 'Azerbaijan': ['61', 'Azerbaijan', '436,257', '+3,762', '5,760 ', '+38', '377,287', '+3,812', '53,210', None, '42,578', '562', '4,517,734', '440,926', None, 'Asia'], 'Kuwait': ['62', 'Kuwait', '410,072', None, '2,421 ', None, '405,470', None, '2,181', '75', '94,392', '557', '3,811,460', '877,340', None, 'Asia'], 'Myanmar': ['63', 'Myanmar', '406,099', None, '15,600 ', None, '355,764', None, '34,735', None, '7,406', '284', '3,688,810', '67,269', None, 'Asia'], 'Slovakia': ['64', 'Slovakia', '395,532', '+232', '12,549 ', '+1', '381,335', '+84', '1,648', '27', '72,405', '2,297', '3,336,980', '610,862', None, 'Europe'], 'Uruguay': ['65', 'Uruguay', '385,264', None, '6,034 ', None, '377,868', None, '1,362', '15', '110,460', '1,730', '3,363,136', '964,252', None, 'South America'], 'Croatia': ['66', 'Croatia', '376,417', '+816', '8,355 ', '+6', '363,906', '+597', '4,156', '57', '92,359', '2,050', '2,573,737', '631,498', None, 'Europe'], 'Ireland': ['67', 'Ireland', '354,236', None, '5,112 ', None, '299,198', '+884', '49,926', '56', '70,815', '1,022', '6,415,912', '1,282,606', None, 'Europe'], 'Dominican Republic': ['68', 'Dominican Republic', '350,789', None, '4,009 ', None, '341,683', None, '5,097', '137', '31,962', '365', '1,962,204', '178,787', None, 'North America'], 'Denmark': ['69', 'Denmark', '347,909', '+697', '2,587 ', '+3', '333,484', '+1,013', '11,838', '26', '59,819', '445', '81,474,507', '14,008,516', None, 'Europe'], 'Palestine': ['70', 'Palestine', '347,730', None, '3,699 ', None, '320,086', None, '23,945', '52', '66,365', '706', '2,210,141', '421,808', None, 'Asia'], 'Honduras': ['71', 'Honduras', '342,508', '+990', '8,998 ', '+24', '107,516', '+55', '225,994', '615', '33,950', '892', '988,042', '97,937', None, 'North America'], 'Venezuela': ['72', 'Venezuela', '337,359', None, '4,056 ', None, '321,264', None, '12,039', '681', '11,903', '143', '3,359,014', '118,519', None, 'South America'], 'Libya': ['73', 'Libya', '313,504', '+1,388', '4,308 ', '+22', '225,676', '+1,656', '83,520', None, '44,912', '617', '1,542,967', '221,041', None, 'Africa'], 'Ethiopia': ['74', 'Ethiopia', '310,994', None, '4,711 ', None, '279,448', None, '26,835', '663', '2,629', '40', '3,255,321', '27,521', None, 'Africa'], 'Oman': ['75', 'Oman', '302,466', None, '4,070 ', None, '292,181', None, '6,215', '48', '57,525', '774', '1,550,000', '294,789', None, 'Asia'], 'Lithuania': ['76', 'Lithuania', '301,167', '+819', '4,593 ', '+9', '282,242', '+563', '14,332', '105', '112,470', '1,715', '4,466,814', '1,668,123', None, 'Europe'], 'Egypt': ['77', 'Egypt', '289,035', None, '16,755 ', None, '240,325', None, '31,955', '90', '2,764', '160', '3,068,679', '29,341', None, 'Africa'], 'Bahrain': ['78', 'Bahrain', '272,709', None, '1,388 ', None, '270,313', None, '1,008', '1', '154,040', '784', '5,967,724', '3,370,876', None, 'Asia'], 'Slovenia': ['79', 'Slovenia', '269,248', '+610', '4,453 ', None, '258,465', '+334', '6,330', '18', '129,491', '2,142', '1,457,824', '701,122', None, 'Europe'], 'Moldova': ['80', 'Moldova', '268,892', None, '6,411 ', None, '257,984', None, '4,497', '95', '66,839', '1,594', '1,583,945', '393,724', None, 'Europe'], 'S. Korea': ['81', 'S. Korea', '257,110', '+1,709', '2,308 ', '+5', '228,618', '+2,396', '26,184', '367', '5,010', '45', '13,286,682', '258,895', None, 'Asia'], 'Armenia': ['82', 'Armenia', '243,981', '+595', '4,892 ', '+16', '228,214', '+488', '10,875', None, '82,156', '1,647', '1,560,430', '525,446', None, 'Asia'], 'Kenya': ['83', 'Kenya', '238,852', '+1,001', '4,757 ', '+11', '226,037', '+1,155', '8,058', '135', '4,331', '86', '2,397,923', '43,478', None, 'Africa'], 'Qatar': ['84', 'Qatar', '233,280', '+193', '602 ', None, '230,168', '+204', '2,510', '24', '83,083', '214', '2,520,811', '897,787', '2,807,805 ', 'Asia'], 'Mongolia': ['85', 'Mongolia', '224,989', '+3,638', '951 ', '+3', '198,230', '+2,554', '25,808', '192', '67,363', '285', '3,647,780', '1,092,172', None, 'Asia'], 'Bosnia and Herzegovina': ['86', 'Bosnia and Herzegovina', '216,124', '+811', '9,862 ', '+15', '192,218', None, '14,044', None, '66,359', '3,028', '1,148,516', '352,640', None, 'Europe'], 'Zambia': ['87', 'Zambia', '206,884', '+179', '3,611 ', '+3', '201,643', '+136', '1,630', '99', '10,898', '190', '2,296,436', '120,969', None, 'Africa'], 'Algeria': ['88', 'Algeria', '196,915', None, '5,339 ', None, '134,073', None, '57,503', '42', '4,398', '119', '230,861', '5,156', None, 'Africa'], 'Nigeria': ['89', 'Nigeria', '193,644', None, '2,488 ', None, '179,294', None, '11,862', '11', '913', '12', '2,779,725', '13,106', None, 'Africa'], 'North Macedonia': ['90', 'North Macedonia', '178,159', None, '5,987 ', None, '157,294', None, '14,878', None, '85,519', '2,874', '1,169,901', '561,568', None, 'Europe'], 'Kyrgyzstan': ['91', 'Kyrgyzstan', '176,193', '+175', '2,541 ', '+5', '170,261', '+92', '3,391', '131', '26,496', '382', '1,653,459', '248,645', None, 'Asia'], 'Norway': ['92', 'Norway', '164,209', '+845', '822 ', None, '88,952', None, '74,435', '13', '30,015', '150', '7,316,424', '1,337,356', None, 'Europe'], 'Botswana': ['93', 'Botswana', '159,317', None, '2,276 ', None, '151,895', None, '5,146', '1', '66,188', '946', '1,647,822', '684,589', None, 'Africa'], 'Uzbekistan': ['94', 'Uzbekistan', '158,561', '+689', '1,099 ', '+6', '150,350', '+583', '7,112', '23', '4,659', '32', '1,377,915', '40,484', None, 'Asia'], 'Afghanistan': ['95', 'Afghanistan', '153,395', '+20', '7,128 ', '+1', '111,300', '+19', '34,967', '1,124', '3,840', '178', '752,334', '18,832', None, 'Asia'], 'Albania': ['96', 'Albania', '148,222', None, '2,505 ', None, '134,802', None, '10,915', '3', '51,571', '872', '1,065,326', '370,662', None, 'Europe'], 'Mozambique': ['97', 'Mozambique', '147,066', None, '1,871 ', None, '135,431', None, '9,764', '32', '4,557', '58', '856,306', '26,531', None, 'Africa'], 'Latvia': ['98', 'Latvia', '143,800', '+354', '2,584 ', '+4', '138,216', '+132', '3,000', '27', '77,239', '1,388', '3,622,175', '1,945,573', None, 'Europe'], 'Estonia': ['99', 'Estonia', '143,181', '+346', '1,296 ', '+1', '134,687', '+324', '7,198', '15', '107,851', '976', '1,767,881', '1,331,658', None, 'Europe'], 'Finland': ['100', 'Finland', '129,105', '+561', '1,030 ', None, '46,000', None, '82,075', '21', '23,259', '186', '6,653,352', '1,198,630', None, 'Europe'], 'Namibia': ['101', 'Namibia', '125,313', '+107', '3,399 ', '+5', '119,746', '+36', '2,168', '22', '48,297', '1,310', '664,093', '255,951', None, 'Africa'], 'Zimbabwe': ['102', 'Zimbabwe', '125,118', None, '4,449 ', None, '114,197', None, '6,472', '12', '8,277', '294', '1,279,037', '84,617', None, 'Africa'], 'Ghana': ['103', 'Ghana', '120,452', '+449', '1,052 ', '+5', '112,460', '+361', '6,940', '60', '3,784', '33', '1,634,485', '51,351', None, 'Africa'], 'Uganda': ['104', 'Uganda', '120,377', '+169', '3,038 ', '+7', '95,590', None, '21,749', '438', '2,538', '64', '1,590,019', '33,529', None, 'Africa'], 'Montenegro': ['105', 'Montenegro', '116,533', None, '1,733 ', None, '106,417', None, '8,383', '11', '185,515', '2,759', '627,589', '999,093', None, 'Europe'], 'Cyprus': ['106', 'Cyprus', '114,366', None, '508 ', None, '90,755', None, '23,103', '58', '93,924', '417', '9,366,973', '7,692,740', None, 'Asia'], 'El Salvador': ['107', 'El Salvador', '96,067', None, '2,944 ', '+10', '81,339', None, '11,784', '133', '14,724', '451', '1,221,446', '187,209', None, 'North America'], 'China': ['108', 'China', '94,954', '+28', '4,636 ', None, '89,383', '+70', '935', '2', '66', '3', '160,000,000', '111,163', '1,439,323,776 ', 'Asia'], 'Cambodia': ['109', 'Cambodia', '94,417', '+491', '1,937 ', '+9', '89,897', '+397', '2,583', None, '5,557', '114', '2,124,233', '125,034', None, 'Asia'], 'Rwanda': ['110', 'Rwanda', '88,682', None, '1,105 ', None, '45,329', None, '42,248', '35', '6,655', '83', '2,473,190', '185,585', None, 'Africa'], 'Cameroon': ['111', 'Cameroon', '84,210', None, '1,357 ', None, '80,433', None, '2,420', '152', '3,083', '50', '1,751,774', '64,130', None, 'Africa'], 'Maldives': ['112', 'Maldives', '81,474', None, '226 ', None, '79,340', None, '1,908', '18', '147,690', '410', '1,358,065', '2,461,792', None, 'Asia'], 'Luxembourg': ['113', 'Luxembourg', '75,981', None, '830 ', None, '74,098', None, '1,053', '8', '119,117', '1,301', '3,428,094', '5,374,292', None, 'Europe'], 'Senegal': ['114', 'Senegal', '73,047', '+70', '1,785 ', '+5', '63,092', '+322', '8,170', '32', '4,233', '103', '747,701', '43,325', None, 'Africa'], 'Jamaica': ['115', 'Jamaica', '69,054', None, '1,568 ', None, '48,493', None, '18,993', '48', '23,201', '527', '550,980', '185,123', None, 'North America'], 'Singapore': ['116', 'Singapore', '68,210', '+219', '55 ', None, '66,312', None, '1,843', '5', '11,553', '9', '17,773,017', '3,010,260', None, 'Asia'], 'Malawi': ['117', 'Malawi', '60,663', None, '2,195 ', None, '48,566', None, '9,902', '285', '3,078', '111', '388,767', '19,728', None, 'Africa'], 'Australia': ['118', 'Australia', '58,206', '+1,641', '1,032 ', '+13', '33,571', None, '23,603', '125', '2,252', '40', '32,228,090', '1,246,945', None, 'Australia/Oceania'], 'Ivory Coast': ['119', 'Ivory Coast', '56,521', None, '451 ', None, '54,154', None, '1,916', None, '2,083', '17', '888,751', '32,747', None, 'Africa'], 'DRC': ['120', 'DRC', '55,146', None, '1,059 ', None, '30,858', None, '23,229', None, '595', '11', '306,299', '3,303', None, 'Africa'], 'Réunion': ['121', 'Réunion', '50,346', None, '342 ', None, '47,752', None, '2,252', '33', '55,767', '379', '173,764', '192,476', None, 'Africa'], 'Guadeloupe': ['122', 'Guadeloupe', '49,381', None, '539 ', None, '2,250', None, '46,592', '23', '123,390', '1,347', '398,899', '996,739', None, 'North America'], 'Angola': ['123', 'Angola', '48,004', None, '1,235 ', None, '43,739', None, '3,030', '8', '1,410', '36', '830,836', '24,396', None, 'Africa'], 'Fiji': ['124', 'Fiji', '47,509', '+253', '508 ', '+3', '30,332', '+163', '16,669', '39', '52,552', '562', '379,427', '419,701', None, 'Australia/Oceania'], 'Trinidad and Tobago': ['125', 'Trinidad and Tobago', '45,061', None, '1,311 ', None, '39,700', None, '4,050', '22', '32,077', '933', '313,137', '222,906', None, 'North America'], 'Eswatini': ['126', 'Eswatini', '43,857', None, '1,129 ', None, '36,148', None, '6,580', '10', '37,350', '962', '319,795', '272,350', None, 'Africa'], 'Madagascar': ['127', 'Madagascar', '42,878', '+2', '956 ', None, '41,302', '+4', '620', '7', '1,503', '34', '245,396', '8,604', None, 'Africa'], 'French Polynesia': ['128', 'French Polynesia', '40,178', None, '463 ', None, '33,500', None, '6,215', '58', '142,069', '1,637', '26,355', '93,191', None, 'Australia/Oceania'], 'Sudan': ['129', 'Sudan', '37,715', None, '2,837 ', None, '31,675', None, '3,203', None, '837', '63', '238,579', '5,297', None, 'Africa'], 'Martinique': ['130', 'Martinique', '37,192', None, '442 ', None, '104', None, '36,646', '1', '99,199', '1,179', '335,215', '894,088', None, 'North America'], 'Malta': ['131', 'Malta', '36,364', '+42', '441 ', None, '34,836', '+55', '1,087', '2', '82,101', '996', '1,201,506', '2,712,699', None, 'Europe'], 'Cabo Verde': ['132', 'Cabo Verde', '35,624', None, '314 ', None, '34,455', None, '855', '23', '63,270', '558', '208,220', '369,811', None, 'Africa'], 'French Guiana': ['133', 'French Guiana', '35,528', None, '221 ', None, '9,995', None, '25,312', '25', '115,462', '718', '366,845', '1,192,201', None, 'South America'], 'Mauritania': ['134', 'Mauritania', '33,869', None, '724 ', None, '31,007', None, '2,138', '16', '7,068', '151', '446,383', '93,150', None, 'Africa'], 'Suriname': ['135', 'Suriname', '29,921', None, '730 ', None, '24,598', None, '4,593', '16', '50,476', '1,231', '105,437', '177,870', None, 'South America'], 'Guinea': ['136', 'Guinea', '29,605', None, '341 ', None, '27,405', None, '1,859', '24', '2,185', '25', '537,846', '39,700', None, 'Africa'], 'Syria': ['137', 'Syria', '28,174', None, '2,023 ', None, '22,510', None, '3,641', None, '1,566', '112', '103,566', '5,755', None, 'Asia'], 'Guyana': ['138', 'Guyana', '25,951', None, '632 ', None, '23,338', None, '1,981', '34', '32,808', '799', '271,365', '343,069', None, 'South America'], 'Gabon': ['139', 'Gabon', '25,888', None, '166 ', None, '25,625', None, '97', '11', '11,320', '73', '1,085,170', '474,502', None, 'Africa'], 'Togo': ['140', 'Togo', '21,785', None, '187 ', None, '17,079', None, '4,519', None, '2,561', '22', '466,510', '54,852', None, 'Africa'], 'Haiti': ['141', 'Haiti', '20,977', '+15', '586 ', None, '18,294', '+72', '2,097', None, '1,814', '51', '110,525', '9,557', None, 'North America'], 'Seychelles': ['142', 'Seychelles', '20,144', None, '105 ', None, '19,500', None, '539', None, '203,354', '1,060', '21,504', '217,083', None, 'Africa'], 'Mayotte': ['143', 'Mayotte', '19,852', None, '175 ', None, '2,964', None, '16,713', '1', '70,776', '624', '176,919', '630,752', None, 'Africa'], 'Bahamas': ['144', 'Bahamas', '18,576', None, '412 ', None, '14,819', None, '3,345', '15', '46,716', '1,036', '135,009', '339,528', None, 'North America'], 'Papua New Guinea': ['145', 'Papua New Guinea', '17,926', None, '192 ', None, '17,547', None, '187', '7', '1,960', '21', '150,870', '16,498', None, 'Australia/Oceania'], 'Somalia': ['146', 'Somalia', '17,630', None, '992 ', None, '8,604', None, '8,034', None, '1,074', '60', '202,806', '12,359', None, 'Africa'], 'Timor-Leste': ['147', 'Timor-Leste', '17,379', '+196', '74 ', None, '12,876', '+251', '4,429', None, '12,895', '55', '169,501', '125,766', None, 'Asia'], 'Tajikistan': ['148', 'Tajikistan', '16,913', '+29', '124 ', None, '16,776', '+34', '13', None, '1,728', '13', None, None, None, 'Asia'], 'Belize': ['149', 'Belize', '16,612', None, '362 ', None, '15,083', None, '1,167', '3', '40,911', '892', '224,827', '553,689', None, 'North America'], 'Taiwan': ['150', 'Taiwan', '16,012', '+6', '837 ', None, '14,996', '+36', '179', None, '671', '35', '5,138,814', '215,308', None, 'Asia'], 'Benin': ['151', 'Benin', '15,932', None, '131 ', None, '11,098', None, '4,703', '5', '1,275', '10', '604,310', '48,371', None, 'Africa'], 'Laos': ['152', 'Laos', '15,605', '+146', '15 ', '+1', '5,463', '+45', '10,127', None, '2,109', '2', '387,691', '52,399', None, 'Asia'], 'Curaçao': ['153', 'Curaçao', '15,379', None, '147 ', None, '14,853', None, '379', '4', '93,275', '892', '242,017', '1,467,855', None, 'North America'], 'Andorra': ['154', 'Andorra', '15,055', '+3', '130 ', None, '14,874', '+7', '51', '4', '194,484', '1,679', '193,595', '2,500,904', None, 'Europe'], 'Mali': ['155', 'Mali', '14,909', None, '539 ', None, '14,114', None, '256', None, '712', '26', '385,369', '18,412', None, 'Africa'], 'Aruba': ['156', 'Aruba', '14,719', None, '148 ', None, '13,984', None, '587', '14', '137,181', '1,379', '177,885', '1,657,890', None, 'North America'], 'Lesotho': ['157', 'Lesotho', '14,395', None, '403 ', None, '6,830', None, '7,162', None, '6,658', '186', '146,630', '67,818', None, 'Africa'], 'Burkina Faso': ['158', 'Burkina Faso', '13,816', '+18', '171 ', None, '13,545', '+10', '100', None, '640', '8', '211,719', '9,815', None, 'Africa'], 'Congo': ['159', 'Congo', '13,588', None, '183 ', None, '12,421', None, '984', None, '2,394', '32', '188,207', '33,156', None, 'Africa'], 'Burundi': ['160', 'Burundi', '12,585', None, '38 ', None, '773', None, '11,774', None, '1,023', '3', '345,742', '28,102', None, 'Africa'], 'Hong Kong': ['161', 'Hong Kong', '12,114', None, '212 ', None, '11,798', None, '104', None, '1,601', '28', '23,570,776', '3,114,489', None, 'Asia'], 'Djibouti': ['162', 'Djibouti', '11,765', None, '157 ', None, '11,563', None, '45', None, '11,709', '156', '207,669', '206,681', None, 'Africa'], 'Nicaragua': ['163', 'Nicaragua', '11,735', None, '200 ', None, '4,225', None, '7,310', None, '1,747', '30', None, None, None, 'North America'], 'South Sudan': ['164', 'South Sudan', '11,446', None, '120 ', None, '10,948', None, '378', None, '1,009', '11', '212,924', '18,765', None, 'Africa'], 'CAR': ['165', 'CAR', '11,296', None, '100 ', None, '6,859', None, '4,337', '2', '2,292', '20', '60,228', '12,222', None, 'Africa'], 'Iceland': ['166', 'Iceland', '10,956', '+44', '33 ', None, '10,147', '+84', '776', '10', '31,864', '96', '988,409', '2,874,678', None, 'Europe'], 'Channel Islands': ['167', 'Channel Islands', '10,689', None, '95 ', None, '10,190', None, '404', None, '60,824', '541', '832,867', '4,739,281', None, 'Europe'], 'Mauritius': ['168', 'Mauritius', '10,676', None, '31 ', None, '1,854', None, '8,791', None, '8,378', '24', '358,675', '281,482', None, 'Africa'], 'Gambia': ['169', 'Gambia', '9,736', '+21', '323 ', '+1', '9,345', '+30', '68', '3', '3,901', '129', '101,817', '40,796', None, 'Africa'], 'Equatorial Guinea': ['170', 'Equatorial Guinea', '9,477', None, '126 ', None, '8,879', None, '472', '1', '6,506', '87', '195,087', '133,931', None, 'Africa'], 'Saint Lucia': ['171', 'Saint Lucia', '8,542', None, '108 ', None, '6,376', None, '2,058', '4', '46,271', '585', '70,346', '381,054', None, 'North America'], 'Yemen': ['172', 'Yemen', '8,018', '+67', '1,513 ', '+27', '4,937', '+29', '1,568', '23', '262', '49', '263,935', '8,628', None, 'Asia'], 'Isle of Man': ['173', 'Isle of Man', '6,741', None, '38 ', None, '6,394', None, '309', '1', '78,788', '444', '83,753', '978,892', None, 'Europe'], 'Eritrea': ['174', 'Eritrea', '6,642', None, '38 ', None, '6,594', None, '10', None, '1,843', '11', '23,693', '6,575', None, 'Africa'], 'Sierra Leone': ['175', 'Sierra Leone', '6,369', None, '121 ', None, '4,361', None, '1,887', None, '780', '15', '160,729', '19,682', None, 'Africa'], 'Niger': ['176', 'Niger', '5,863', None, '199 ', None, '5,561', None, '103', None, '232', '8', '144,020', '5,709', None, 'Africa'], 'Guinea-Bissau': ['177', 'Guinea-Bissau', '5,854', None, '120 ', None, '4,874', None, '860', '4', '2,895', '59', '92,486', '45,735', None, 'Africa'], 'Liberia': ['178', 'Liberia', '5,459', None, '148 ', None, '2,715', None, '2,596', '2', '1,051', '28', '128,246', '24,680', None, 'Africa'], 'Gibraltar': ['179', 'Gibraltar', '5,376', '+5', '97 ', None, '5,191', '+7', '88', '1', '159,625', '2,880', '339,904', '10,092,461', None, 'Europe'], 'San Marino': ['180', 'San Marino', '5,321', None, '90 ', None, '5,150', None, '81', '1', '156,436', '2,646', '75,461', '2,218,528', None, 'Europe'], 'Barbados': ['181', 'Barbados', '5,152', None, '51 ', None, '4,688', None, '413', None, '17,902', '177', '266,567', '926,265', None, 'North America'], 'Chad': ['182', 'Chad', '4,994', None, '174 ', None, '4,812', None, '8', None, '294', '10', '139,667', '8,228', None, 'Africa'], 'Comoros': ['183', 'Comoros', '4,076', None, '147 ', None, '3,902', None, '27', None, '4,574', '165', None, None, None, 'Africa'], 'Sint Maarten': ['184', 'Sint Maarten', '3,775', None, '56 ', None, '3,462', None, '257', '14', '86,891', '1,289', '41,509', '955,438', None, 'North America'], 'New Zealand': ['185', 'New Zealand', '3,729', '+32', '26 ', None, '2,948', '+47', '755', '5', '745', '5', '3,024,268', '604,600', '5,002,100 ', 'Australia/Oceania'], 'Saint Martin': ['186', 'Saint Martin', '3,463', None, '45 ', None, '1,399', None, '2,019', '7', '87,813', '1,141', '54,303', '1,376,991', None, 'North America'], 'Liechtenstein': ['187', 'Liechtenstein', '3,301', '+12', '59 ', None, '3,189', '+3', '53', '3', '86,287', '1,542', '49,126', '1,284,138', None, 'Europe'], 'Monaco': ['188', 'Monaco', '3,220', None, '33 ', None, '3,108', None, '79', '6', '81,381', '834', '54,960', '1,389,036', None, 'Europe'], 'Brunei ': ['189', 'Brunei ', '3,093', '+133', '12 ', None, '1,297', '+153', '1,784', '27', '6,992', '27', '243,746', '550,993', None, 'Asia'], 'Bermuda': ['190', 'Bermuda', '2,923', None, '34 ', None, '2,684', None, '205', '1', '47,139', '548', '465,071', '7,500,177', None, 'North America'], 'Turks and Caicos': ['191', 'Turks and Caicos', '2,674', '+2', '20 ', None, '2,569', '+1', '85', '1', '67,991', '509', '94,789', '2,410,155', None, 'North America'], 'Sao Tome and Principe': ['192', 'Sao Tome and Principe', '2,634', None, '37 ', None, '2,438', None, '159', None, '11,764', '165', '14,689', '65,603', None, 'Africa'], 'Bhutan': ['193', 'Bhutan', '2,596', None, '3 ', None, '2,574', None, '19', None, '3,322', '4', '798,573', '1,021,797', None, 'Asia'], 'British Virgin Islands': ['194', 'British Virgin Islands', '2,568', None, '37 ', None, '2,500', None, '31', '7', '84,291', '1,214', '77,252', '2,535,679', None, 'North America'], 'St. Vincent Grenadines': ['195', 'St. Vincent Grenadines', '2,355', None, '12 ', None, '2,305', None, '38', '2', '21,149', '108', '67,589', '606,985', None, 'North America'], 'Dominica': ['196', 'Dominica', '1,832', None, '4 ', None, '1,210', None, '618', None, '25,376', '55', '50,570', '700,464', None, 'North America'], 'Caribbean Netherlands': ['197', 'Caribbean Netherlands', '1,800', None, '17 ', None, '1,754', None, '29', None, '67,904', '641', '20,707', '781,160', None, 'North America'], 'Antigua and Barbuda': ['198', 'Antigua and Barbuda', '1,750', '+8', '44 ', None, '1,349', None, '357', '9', '17,699', '445', '17,409', '176,067', None, 'North America'], 'St. Barth': ['199', 'St. Barth', '1,534', None, '2 ', None, '462', None, '1,070', None, '154,762', '202', '38,369', '3,870,964', None, 'North America'], 'Tanzania': ['200', 'Tanzania', '1,367', None, '50 ', None, '183', None, '1,134', '7', '22', '0.8', None, None, None, 'Africa'], 'Saint Kitts and Nevis': ['201', 'Saint Kitts and Nevis', '1,166', '+18', '5 ', '+1', '659', '+14', '502', '1', '21,738', '93', '31,824', '593,300', None, 'North America'], 'Faeroe Islands': ['202', 'Faeroe Islands', '1,002', None, '2 ', None, '995', None, '5', None, '20,416', '41', '410,000', '8,353,708', None, 'Europe'], 'Grenada': ['203', 'Grenada', '817', None, '4 ', None, '214', None, '599', None, '7,222', '35', '60,714', '536,660', None, 'North America'], '204': ['204', 'Diamond Princess', '712', None, '13 ', None, '699', None, '0', None, None, None, None, None, ' ', None], 'Cayman Islands': ['205', 'Cayman Islands', '690', '+1', '2 ', None, '671', '+1', '17', None, '10,357', '30', '128,756', '1,932,577', None, 'North America'], 'Wallis and Futuna': ['206', 'Wallis and Futuna', '445', None, '7 ', None, '438', None, '0', None, '40,425', '636', '20,508', '1,863,009', None, 'Australia/Oceania'], 'Greenland': ['207', 'Greenland', '347', None, ' ', None, '298', None, '49', '2', '6,100', None, '57,192', '1,005,397', None, 'North America'], 'Anguilla': ['208', 'Anguilla', '256', None, ' ', None, '208', None, '48', None, '16,887', None, '38,936', '2,568,338', None, 'North America'], 'New Caledonia': ['209', 'New Caledonia', '136', None, ' ', None, '58', None, '78', None, '471', None, '41,120', '142,428', None, 'Australia/Oceania'], 'Falkland Islands': ['210', 'Falkland Islands', '67', None, ' ', None, '63', None, '4', None, '18,621', None, '7,531', '2,093,107', None, 'South America'], 'Macao': ['211', 'Macao', '63', None, ' ', None, '60', None, '3', None, '96', None, '4,778', '7,243', None, 'Asia'], 'Saint Pierre Miquelon': ['212', 'Saint Pierre Miquelon', '31', None, ' ', None, '30', None, '1', None, '5,381', None, '8,671', '1,505,121', None, 'North America'], 'Montserrat': ['213', 'Montserrat', '29', None, '1 ', None, '22', None, '6', None, '5,805', '200', '1,408', '281,825', None, 'North America'], 'Vatican City': ['214', 'Vatican City', '27', None, ' ', None, '27', None, '0', None, '33,624', None, None, None, None, 'Europe'], 'Solomon Islands': ['215', 'Solomon Islands', '20', None, ' ', None, '20', None, '0', None, '28', None, '4,500', '6,369', None, 'Australia/Oceania'], 'Western Sahara': ['216', 'Western Sahara', '10', None, '1 ', None, '8', None, '1', None, '16', '2', None, None, None, 'Africa'], '217': ['217', 'MS Zaandam', '9', None, '2 ', None, '7', None, '0', None, None, None, None, None, ' ', None], 'Vanuatu': ['218', 'Vanuatu', '4', None, '1 ', None, '3', None, '0', None, '13', '3', '23,000', '72,897', None, 'Australia/Oceania'], 'Marshall Islands': ['219', 'Marshall Islands', '4', None, ' ', None, '4', None, '0', None, '67', None, None, None, None, 'Australia/Oceania'], 'Samoa': ['220', 'Samoa', '3', None, ' ', None, '3', None, '0', None, '15', None, None, None, None, 'Australia/Oceania'], '18,195': ['221', 'Palau', '2', None, ' ', None, '1', None, '1', None, '110', None, '9,304', '511,349', None, 'Australia/Oceania'], 'Saint Helena': ['222', 'Saint Helena', '2', None, ' ', None, '2', None, '0', None, '328', None, None, None, None, 'Africa'], 'Micronesia': ['223', 'Micronesia', '1', None, ' ', None, '1', None, '0', None, '9', None, None, None, None, 'Australia/Oceania']}

In [32]:
countries_covid_data=pd.DataFrame(t).iloc[1:,:].T[1:]

In [36]:
heading=['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Total Cases/1 Million population',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'Population',
 'Continent']

In [37]:
countries_covid_data.columns=heading
countries_covid_data.drop(axis=1,labels='Population',inplace=True)

In [38]:
countries_covid_data

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Total Cases/1 Million population,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
USA,USA,"40,520,784","+7,766","662,945",+92,"31,201,272","+1,437","8,656,567","25,656","121,584","1,989","588,598,687","1,766,115",North America
India,India,"32,908,089","+5,744","439,965",+49,"32,063,616","+7,531","404,508","8,944","23,575",315,"526,535,068","377,211",Asia
Brazil,Brazil,"20,830,712",None,"582,004",None,"19,801,725",None,"446,983","8,318","97,191","2,716","56,897,224","265,470",South America
Russia,Russia,"6,975,174","+18,856","185,611",+799,"6,236,738","+18,690","552,825","2,300","47,773","1,271","180,000,000","1,232,812",Europe
UK,UK,"6,862,904",None,"132,920",None,"5,533,227",None,"1,196,757","1,030","100,477","1,946","271,963,982","3,981,717",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,Marshall Islands,4,None,,None,4,None,0,None,67,None,None,None,Australia/Oceania
Samoa,Samoa,3,None,,None,3,None,0,None,15,None,None,None,Australia/Oceania
"18,195",Palau,2,None,,None,1,None,1,None,110,None,"9,304","511,349",Australia/Oceania
Saint Helena,Saint Helena,2,None,,None,2,None,0,None,328,None,None,None,Africa
Micronesia,Micronesia,1,None,,None,1,None,0,None,9,None,None,None,Australia/Oceania

In [39]:
countries_covid_data.index = countries_covid_data.iloc[:,0].values
countries_covid_data.drop(axis=1,labels='Country,Other',inplace=True)
countries_covid_data

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Total Cases/1 Million population,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
USA,"40,520,784","+7,766","662,945",+92,"31,201,272","+1,437","8,656,567","25,656","121,584","1,989","588,598,687","1,766,115",North America
India,"32,908,089","+5,744","439,965",+49,"32,063,616","+7,531","404,508","8,944","23,575",315,"526,535,068","377,211",Asia
Brazil,"20,830,712",None,"582,004",None,"19,801,725",None,"446,983","8,318","97,191","2,716","56,897,224","265,470",South America
Russia,"6,975,174","+18,856","185,611",+799,"6,236,738","+18,690","552,825","2,300","47,773","1,271","180,000,000","1,232,812",Europe
UK,"6,862,904",None,"132,920",None,"5,533,227",None,"1,196,757","1,030","100,477","1,946","271,963,982","3,981,717",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,4,None,,None,4,None,0,None,67,None,None,None,Australia/Oceania
Samoa,3,None,,None,3,None,0,None,15,None,None,None,Australia/Oceania
Palau,2,None,,None,1,None,1,None,110,None,"9,304","511,349",Australia/Oceania
Saint Helena,2,None,,None,2,None,0,None,328,None,None,None,Africa
Micronesia,1,None,,None,1,None,0,None,9,None,None,None,Australia/Oceania

In [40]:
countries_covid_data.to_csv('countries_covid_data.csv')

In [41]:
pwd

'C:\\Users\\adila\\Desktop\\Projects\\Project complete'

In [45]:
countries_covid_data.fillna(value='0',inplace=True)

In [49]:
int(countries_covid_data['TotalCases'][0].replace(',',''))

40520784

In [162]:
df=countries_covid_data.copy()

In [102]:
int_col=df.columns[:-1]

In [103]:
df[int_col]

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Total Cases/1 Million population,Deaths/1M pop,TotalTests,Tests/1M pop
USA,"40,520,784","+7,766","662,945",+92,"31,201,272","+1,437","8,656,567","25,656","121,584","1,989","588,598,687","1,766,115"
India,"32,908,089","+5,744","439,965",+49,"32,063,616","+7,531","404,508","8,944","23,575",315,"526,535,068","377,211"
Brazil,"20,830,712",0,"582,004",0,"19,801,725",0,"446,983","8,318","97,191","2,716","56,897,224","265,470"
Russia,"6,975,174","+18,856","185,611",+799,"6,236,738","+18,690","552,825","2,300","47,773","1,271","180,000,000","1,232,812"
UK,"6,862,904",0,"132,920",0,"5,533,227",0,"1,196,757","1,030","100,477","1,946","271,963,982","3,981,717"
...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,4,0,,0,4,0,0,0,67,0,0,0
Samoa,3,0,,0,3,0,0,0,15,0,0,0
Palau,2,0,,0,1,0,1,0,110,0,"9,304","511,349"
Saint Helena,2,0,,0,2,0,0,0,328,0,0,0
Micronesia,1,0,,0,1,0,0,0,9,0,0,0

In [69]:
df

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Total Cases/1 Million population,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
USA,"40,520,784","+7,766","662,945",+92,"31,201,272","+1,437","8,656,567","25,656","121,584","1,989","588,598,687","1,766,115",North America
India,"32,908,089","+5,744","439,965",+49,"32,063,616","+7,531","404,508","8,944","23,575",315,"526,535,068","377,211",Asia
Brazil,"20,830,712",0,"582,004",0,"19,801,725",0,"446,983","8,318","97,191","2,716","56,897,224","265,470",South America
Russia,"6,975,174","+18,856","185,611",+799,"6,236,738","+18,690","552,825","2,300","47,773","1,271","180,000,000","1,232,812",Europe
UK,"6,862,904",0,"132,920",0,"5,533,227",0,"1,196,757","1,030","100,477","1,946","271,963,982","3,981,717",Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,4,0,,0,4,0,0,0,67,0,0,0,Australia/Oceania
Samoa,3,0,,0,3,0,0,0,15,0,0,0,Australia/Oceania
Palau,2,0,,0,1,0,1,0,110,0,"9,304","511,349",Australia/Oceania
Saint Helena,2,0,,0,2,0,0,0,328,0,0,0,Africa
Micronesia,1,0,,0,1,0,0,0,9,0,0,0,Australia/Oceania

In [74]:
int(df['TotalCases'][0].replace(',',''))

40520784

In [163]:
for col in df:
    df[col]=[i.replace(',','') for i in df[col]]

In [164]:
df

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Total Cases/1 Million population,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
USA,40520784,+7766,662945,+92,31201272,+1437,8656567,25656,121584,1989,588598687,1766115,North America
India,32908089,+5744,439965,+49,32063616,+7531,404508,8944,23575,315,526535068,377211,Asia
Brazil,20830712,0,582004,0,19801725,0,446983,8318,97191,2716,56897224,265470,South America
Russia,6975174,+18856,185611,+799,6236738,+18690,552825,2300,47773,1271,180000000,1232812,Europe
UK,6862904,0,132920,0,5533227,0,1196757,1030,100477,1946,271963982,3981717,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,4,0,,0,4,0,0,0,67,0,0,0,Australia/Oceania
Samoa,3,0,,0,3,0,0,0,15,0,0,0,Australia/Oceania
Palau,2,0,,0,1,0,1,0,110,0,9304,511349,Australia/Oceania
Saint Helena,2,0,,0,2,0,0,0,328,0,0,0,Africa
Micronesia,1,0,,0,1,0,0,0,9,0,0,0,Australia/Oceania

In [176]:
df=df.replace(' ',0) # Many blank values

In [177]:
df

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Total Cases/1 Million population,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
USA,40520784,+7766,662945,+92,31201272,+1437,8656567,25656,121584,1989,588598687,1766115,North America
India,32908089,+5744,439965,+49,32063616,+7531,404508,8944,23575,315,526535068,377211,Asia
Brazil,20830712,0,582004,0,19801725,0,446983,8318,97191,2716,56897224,265470,South America
Russia,6975174,+18856,185611,+799,6236738,+18690,552825,2300,47773,1271,180000000,1232812,Europe
UK,6862904,0,132920,0,5533227,0,1196757,1030,100477,1946,271963982,3981717,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Marshall Islands,4,0,0,0,4,0,0,0,67,0,0,0,Australia/Oceania
Samoa,3,0,0,0,3,0,0,0,15,0,0,0,Australia/Oceania
Palau,2,0,0,0,1,0,1,0,110,0,9304,511349,Australia/Oceania
Saint Helena,2,0,0,0,2,0,0,0,328,0,0,0,Africa
Micronesia,1,0,0,0,1,0,0,0,9,0,0,0,Australia/Oceania

In [187]:
to_remove=['Marshall Islands','Samoa','Micronesia','Western Sahara','MS Zaandam','Vatican City','Diamond Princess','Tanzania','Peru']

In [206]:
df.drop(axis=0,labels=to_remove,inplace=True) 
df

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Total Cases/1 Million population,Deaths/1M pop,TotalTests,Tests/1M pop,Continent
USA,40520784,+7766,662945,+92,31201272,+1437,8656567,25656,121584,1989,588598687,1766115,North America
India,32908089,+5744,439965,+49,32063616,+7531,404508,8944,23575,315,526535068,377211,Asia
Brazil,20830712,0,582004,0,19801725,0,446983,8318,97191,2716,56897224,265470,South America
Russia,6975174,+18856,185611,+799,6236738,+18690,552825,2300,47773,1271,180000000,1232812,Europe
UK,6862904,0,132920,0,5533227,0,1196757,1030,100477,1946,271963982,3981717,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,29,0,1,0,22,0,6,0,5805,200,1408,281825,North America
Solomon Islands,20,0,0,0,20,0,0,0,28,0,4500,6369,Australia/Oceania
Vanuatu,4,0,1,0,3,0,0,0,13,3,23000,72897,Australia/Oceania
Palau,2,0,0,0,1,0,1,0,110,0,9304,511349,Australia/Oceania
Saint Helena,2,0,0,0,2,0,0,0,328,0,0,0,Africa

In [207]:
df.dtypes

TotalCases                          object
NewCases                            object
TotalDeaths                         object
NewDeaths                           object
TotalRecovered                      object
NewRecovered                        object
ActiveCases                         object
Serious,Critical                    object
Total Cases/1 Million population    object
Deaths/1M pop                       object
TotalTests                          object
Tests/1M pop                        object
Continent                           object
dtype: object

In [208]:
for i in df[int_col]:
    df[i]=df[i].astype(int)

In [211]:
df.dtypes

TotalCases                           int32
NewCases                             int32
TotalDeaths                          int32
NewDeaths                            int32
TotalRecovered                       int32
NewRecovered                         int32
ActiveCases                          int32
Serious,Critical                     int32
Total Cases/1 Million population     int32
Deaths/1M pop                        int32
TotalTests                           int32
Tests/1M pop                         int32
Continent                           object
dtype: object

In [217]:
df.to_csv('World Covid data Cleaned.csv')

In [216]:
pwd

'C:\\Users\\adila\\Desktop\\Projects\\Project complete'